[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=sb_alternative
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Switch Brush Alternative
Comment=Switch between similiar brush